:root {
    --primary: rgb(49, 80, 121);
    --secondary: rgba(47, 125, 226, 0.842);
    --tertiary: rgb(241, 241, 241);
    --dark: rgb(79, 81, 90);
    --light: rgba(238, 238, 247, 1);
}

.alert {
    margin-bottom: 60px;
    box-shadow: 5px 10px 18px rgb(139, 139, 139);
}

.tablecontainer {
    margin-top: 30px;
    margin-bottom: 60px;
    box-shadow: 5px 10px 18px rgb(145, 145, 145);
}

.containerBox {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    border-radius: 4px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    background-color: var(--dark);
    border-radius: .8rem;
    box-shadow: 5px 10px 18px rgb(39, 39, 39);
}

.img {
    width: fit-content;
    border-radius: 10px;
    box-shadow: 5px 10px 18px rgb(39, 39, 39);
}
