:root {
    --primary: rgb(49, 80, 121);
    --secondary: rgba(47, 125, 226, 0.842);
    --tertiary: rgb(241, 241, 241);
    --dark: rgb(79, 81, 90);
    --light: rgba(238, 238, 247, 1);
    
}

.formBox {
    max-width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex;
    padding: 50px;
    border-radius: 69px;
    background-color: var(--dark);
    min-block-size: 5px;
    box-shadow: 5px 10px 18px rgb(145, 145, 145);
}

