.formBox {
    max-width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: var(--dark);
}

h1 {
    color: white;
}

.heading {
    color: white;
}

.button {
    background-color: white;
    color: turquoise;
}