.creation {
    max-width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex;
    padding: 50px;
    border-radius: 69px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    background-color: var(--dark);
    min-block-size: 5px;
    box-shadow: 5px 10px 18px rgb(145, 145, 145);
}

h1 {
    color: white;
}

.heading {
    color: white;
}

.button {
    background-color: white;
    color: turquoise;
}
